// Colors
$color-primary-light: #FFFAF1;
$color-primary-medium: #8E8E8E;
$color-primary-medium-dark: #4C4C4C;
$color-primary-dark: #020202;
$color-secondary: #F29432;

// Font
$fontFamily: 'Muli', sans-serif;
$principalFontWeight: 600;

// Device size
$desktop: 675px;