// Colors
$color-primary-light: #c7c7c7;
$color-primary-medium: #969696;
$color-primary-dark: #3e3e3e;
$color-secundary: #D58400;

// Font
$fontFamily: 'Muli', sans-serif;
$principalFontSize: 32px;
$principalFontWeight: 600;